@import url(http://fonts.googleapis.com/css?family=Lato);

* { box-sizing: border-box; }

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  text-align: center;
  font-family: Lato;
}

header{
  font-size: 35px;
color: #fff;
text-shadow: #7a7a7a 4px 3px 0;
}

h3{
	color: 	#0000FF;
	margin-bottom: -10px;
}


footer > ul {
  border-radius: 5px;
  padding: 0;
  background-color: black;
}
footer > ul > li {
  display: inline-block;
  padding: 5px 5px;

}
nav{
  background-color: rgb(125,124,123);
  border-radius: 5px;
  width:80%;
  margin: 0 auto;

}
nav > ul{
  padding: 0px;

}
nav > ul > li{
  display: inline-block;
  padding: 10px 30px 10px 30px;
}

nav > ul > li:hover {
  background-color: rgb(169,169,169);
}
nav > ul > li > a{
  color: white;
  text-decoration: none;
}
article{
  padding: 22px;
  border-radius: 5px;
  position: center;
  background-color: white;
  width: 80%;
  display: inline-block;
}
div{
  text-align: left;
}
p{
  font-size: 22px;
  line-height: 25px;
}

img{
  display: inline-block;
  width: 20%;
  float: right;
  margin-left: 10px;
  margin-bottom:10px;
}
footer{
  color: white;
}
.job{
  display: inline-block;
  width: 20%;
  float: right;
  margin-left: 10px;
  margin-bottom:10px;
}
.test{
  display:inline-block;
  width: 35%;
  float:right;

}
.reference{
  margin-bottom: 25px;
}


