@import url(http://fonts.googleapis.com/css?family=Lato);

* { box-sizing: border-box; }


body {
  text-align: center;
  font-family: Lato;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

header{
  font-size: 150%;
color: #fff;
text-shadow: #7a7a7a 4px 3px 0;
}


footer > ul {
  border-radius: 5px;
  padding: 0;
  background-color: black;
}
footer > ul > li {
  display: inline-block;
  padding: 5px 5px;

}
nav{
  background-color: rgb(125,124,123);
  border-radius: 5px;
  width:80%;
  margin: 0 auto;

}
nav > ul{
  padding: 0px;

}
nav > ul > li{
  display: inline-block;
  padding: 10px 30px 10px 30px;
}

nav > ul > li:hover {
  background-color: rgb(169,169,169);
}
nav > ul > li > a{
  color: white;
  text-decoration: none;
}
article{
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: center;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;



}